<ion-view view-title="Current Weather">
  <ion-content>
    <div class="list">
      <div class="item">Current Conditions: {{weather.weather[0].main}}</div>
      <div class="item">Current Temperature: {{weather.main.temp}}&deg;</div>
      <div class="item">Humidity: {{weather.main.humidity}}%</div>
      <div class="item">Today's High: {{weather.main.temp_max}}&deg;</div>
      <div class="item">Today's Low: {{weather.main.temp_min}}&deg;</div>
      <div class="item">Wind: {{weather.wind.speed}}mph, {{getDirection(weather.wind.deg)}}</div>
    </div>
  </ion-content>
</ion-view>
