<ion-view title="Blood Pressure">
  <ion-content>

		<!--温度顶部-->
		<header class="dv_clear Equipment_header">

			<img src="icons/blood.png" class="Equipment_icon" />

			<img src="icons/c.png" class="c_icon" />
		</header>

		<div class="row">
			<div class="col blood_cont">
				<p>000</p>
				<p>{{ Resuly_DY }}</p>
				<p>000</p>
			</div>

		</div>
		<section class="ble_wait">
			{{ isConnect }}
		</section>

	</ion-content>
	<section class="dv_buttons">
		<button class="button button-block button-balanced activated">
  			Save Data
		</button>
		<button class="button button-block button-positive">
  			Start Again
		</button>
	</section>
</ion-view>
