<ion-view view-title="Local Restaurants">
  <ion-content>
    <div class="list card" ng-repeat="restaurant in restaurants">
      <div class="item">
        <h2>{{restaurant.name}}</h2>
        <p>{{restaurant.address}}, {{restaurant.city}}</p>
      </div>
      <div class="item item-image">
        <img ng-src="{{restaurant.image_url}}" />
      </div>
    </div>
    <ion-infinite-scroll on-infinite="getRestaurants()" ng-if="total > page" immediate-check="false"></ion-infinite-scroll>
  </ion-content>
</ion-view>
