<ion-view title="设置中心">

	<ion-content>

		<div class="list">
			
			<a class="item item-icon-left item-icon-right" href="#/userlist">
				<i class="icon ion-person-stalker"></i> 用户列表
				<i class="icon ion-ios7-arrow-right"></i>
			</a>
			
			<a class="item item-icon-left item-icon-right">
				<i class="icon ion-email"></i> 意见反馈
				<i class="icon ion-ios7-arrow-right"></i>
			</a>

			<a class="item item-icon-left item-icon-right" ng-click="update();">
				<i class="icon ion-loop"></i> 版本更新
				<i class="icon ion-ios7-arrow-right"></i>
			</a>

			<a class="item item-icon-left">
				<i class="icon ion-ios7-circle-filled"></i> 版本号
				<span class="item-note"> v{{version}}</span>
			</a>

			
			<ion-toggle ng-model="pushNotification" ng-change="pushNotificationChange()">更新推送</ion-toggle>
		</div>

	</ion-content>

</ion-view>