<ion-view title="用户中心">

	<ion-nav-buttons side="right">
		<a class="button button-clear" nav-clear ng-click="save();">保存</a>
	</ion-nav-buttons>

	<ion-content scrollbar-y="false" overflow-scroll="false" has-bouncing="false">
		<style>
			header {
				text-align: center;
				color: #fff;
				width: 100%;
				background: #e9d3a4;
				padding: 16px 0 4px;
			}
			
			header img {
				border-radius: 9999999px;
				width: 100px;
				height: 100px;
				display: block;
				margin: 0 auto;
				border: 6px solid #FFFFFF;
			}
			
			header h4 {
				color: #fff;
				font-size: 30px;
				color: #fff;
				line-height: 40px;
			}
		</style>
		<header>
			<img id="user_litpic" src="{{ litpic }}" ng-click="show();" />
			<h4>{{name}}</h4>
		</header>

		<div class="list">
			<div class="item item-divider">
				基本信息
			</div>
			<label class="item item-input">
			    <span class="input-label">身高(cm)：</span>
			    <input type="tel" id="set_height" ng-model="height" ng-change="change()">
			 </label>
			<label class="item item-input item-select">
			    <div class="input-label">
			      性别：
			    </div>
			    <select id="set_sex" ng-model="sex" ng-change="change()">
			      <option>男</option>
			      <option>女</option>
			    </select>
			  </label>

			<div class="item item-divider">
				最近测量
			</div>

			<a class="item item-icon-left">
				<i class="icon ion-ios7-speedometer"></i> 成人体重
				<span class="item-note"> {{ l_weighta }}kg</span>
			</a>

			<a class="item item-icon-left">
				<i class="icon ion-ios7-time"></i> 婴儿体重
				<span class="item-note"> {{ l_weightb }}kg</span>
			</a>

			<a class="item item-icon-left">
				<i class="icon ion-outlet"></i> 血压测量
				<span class="item-note"> {{ blood }}</span>
			</a>

			<a class="item item-icon-left">
				<i class="icon ion-thermometer"></i> 最近体温
				<span class="item-note"> {{ temp }}°C</span>
			</a>

		</div>

	</ion-content>

</ion-view>