<ion-view title="Login">

	<ion-content ng-controller="LogCtrl">

		<div class="list">
			<label class="item item-input">
			  <span class="input-label">Username</span>
			  <input ng-model="Username" type="text">
			</label>
			<label class="item item-input">
			  <span class="input-label">Password</span>
			  <input ng-model="password" type="password">
			</label>
			

		</div>

		<button style="display: block; width: 94%; margin: 80px auto 0;" class="button button-full button-positive user_faces_login" ng-click="login()">登录</button>

	</ion-content>

</ion-view>