.dv_home_view { background: darkgrey;}
.menu_divs { text-align: center; width: 100%; padding-top: 50px; height: 200px; background: #f9f9f9;}
.menu_divs img { display: block; width: 50%; margin: 0 auto 30px;}
