<ion-view view-title="Equipment selection" ng-class＝"dv_home_view" hide-back-button="true">
	<ion-nav-buttons side="right">
		<a class="button button-clear" href="#/home" nav-clear>About</a>
	</ion-nav-buttons>
	<ion-nav-buttons side="left">
		<button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
	</ion-nav-buttons>
	<ion-content>

		<div class="row">
			<div class="col weight_div menu_div">
				<div class="menu_divs">
					<a href="#/AdultWeight"><img src="icons/adult_weight.png" /></a>
					<p>Adult Weight</p>
				</div>
			</div>
			<div class="col baby_div menu_div">
				<div class="menu_divs">
					<a href="#/BabyWeight"><img src="icons/baby_weight.png" /></a>
					<p>Baby Weight</p>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col weight_div menu_div">
				<div class="menu_divs">
					<a href="#/Blood"><img src="icons/blood.png" /></a>
					<p>Blood Pressure</p>
				</div>
			</div>
			<div class="col baby_div menu_div">
				<div class="menu_divs">
					<a href="#/Temperature"><img src="icons/temperature.png" /></a>
					<p>Temperature</p>
				</div>
			</div>
		</div>

		<!--<div class="list">
      <a href="#/reservation" class="item item-icon-left">
        <i class="icon ion-document-text"></i> 666See your reservation
      </a>
      <a href="#/weather" class="item item-icon-left">
        <i class="icon ion-ios-partlysunny"></i> Current weather
      </a>
      <a href="#/restaurants" class="item item-icon-left">
        <i class="icon ion-fork"></i> Nearby restaurants
      </a>
    </div>-->
	</ion-content>
</ion-view>