<ion-view title="Home" hide-back-button="true">

	<ion-nav-buttons side="left">
		<button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
	</ion-nav-buttons>

	<ion-content>

		<div class="row">
			<div class="col weight_div menu_div">
				<div class="menu_divs">
					<a href="#/AdultWeight"><img src="icons/adult_weight.png" /></a>
					<p>Adult Weight</p>
				</div>
			</div>
			<div class="col baby_div menu_div">
				<div class="menu_divs">
					<a href="#/BabyWeight"><img src="icons/baby_weight.png" /></a>
					<p>Baby Weight</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col weight_div menu_div">
				<div class="menu_divs">
					<a href="#/Blood"><img src="icons/blood.png" /></a>
					<p>Blood Pressure</p>
				</div>
			</div>
			<div class="col baby_div menu_div">
				<div class="menu_divs">
					<a href="#/Temperature"><img src="icons/temperature.png" /></a>
					<p>Temperature</p>
				</div>
			</div>
		</div>

	</ion-content>
	
	
</ion-view>


