<ion-view title="设备" hide-back-button="true">

	<ion-nav-buttons side="left">
		<button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
	</ion-nav-buttons>

	<ion-content>

		<div class="row">
			<div class="col weight_div menu_div">
				<div class="menu_divs">
					<a href="#/AdultWeight"><img src="icons/adult_weight.png" /></a>
					<p>成人秤</p>
				</div>
			</div>
			<div class="col baby_div menu_div">
				<div class="menu_divs">
					<a href="#/BabyWeight"><img src="icons/baby_weight.png" /></a>
					<p>婴儿秤</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col weight_div menu_div">
				<div class="menu_divs">
					<a href="#/Blood"><img src="icons/blood.png" /></a>
					<p>血压计</p>
				</div>
			</div>
			<div class="col baby_div menu_div">
				<div class="menu_divs">
					<a href="#/Temperature"><img src="icons/temperature.png" /></a>
					<p>温度计</p>
				</div>
			</div>
		</div>

	</ion-content>
	<ion-footer-bar align-title="left" class="">
		
		<h1 style="font-size: 12px; color:#b3b3b3; text-align: center;" class="title">Copyright © 2016 Devon. All Rights Reserved</h1>
		
	</ion-footer-bar>

</ion-view>