<ion-view view-title="Baby Weight">
	<ion-content>

		<!--温度顶部-->
		<header class="dv_clear Equipment_header">

			<img src="icons/baby_weight.png" class="Equipment_icon" />

			<img src="icons/c.png" class="c_icon" />
		</header>

		<div class="row">
			<div class="col Equipment_cont">
				<p>35.2</p>
			</div>

		</div>
		<section class="ble_wait">
			waitting...
		</section>

	</ion-content>
	<section class="dv_buttons">
		<button class="button button-block button-balanced activated">
  			Save Data
		</button>
		<button class="button button-block button-positive">
  			Start Again
		</button>
	</section>
</ion-view>