<ion-view title="Temperature">
	
	<ion-nav-buttons side="right">
		<a class="button button-clear" nav-clear ng-click="show();"><i class="icon ion-calendar"></i></a>
	</ion-nav-buttons>
	
	<ion-content>

		<!--温度顶部-->
		<header class="dv_clear Equipment_header">

			<img src="icons/temperature.png" class="Equipment_icon" />

			<img src="icons/c.png" class="c_icon" />
		</header>

		<div class="row">
			<div class="col Equipment_cont">
				<p>{{ Resuly }}</p>
			</div>

		</div>
		<section class="ble_wait">
			{{ isConnect }}
		</section>

	</ion-content>
	<section class="dv_buttons">
		<button class="button button-block button-balanced activated" ng-click="save();">
  			Save Data
		</button>
		<button class="button button-block button-positive" ng-click="again();">
  			Start Again
		</button>
	</section>
</ion-view>