<ion-view title="Register">

	<ion-content ng-controller="RegCtrl">

		<div class="list">
			<label class="item item-input">
			  <span class="input-label">Username</span>
			  <input ng-model="username" type="text" maxlength="10" placeholder="your name">
			</label>
			<label class="item item-input">
			  <span class="input-label">Password</span>
			  <input ng-model="password" type="password" maxlength="8" placeholder="your password">
			</label>
			<label class="item item-input">
			  <span class="input-label">Height(CM)</span>
			  <input ng-model="height" type="tel" placeholder="your height">
			</label>

			<label class="item item-input item-select">
			    <div class="input-label">
			      Sex
			    </div>
			    <select ng-model="sex">
			      <option>Man</option>
			      <option>Woman</option>
			    </select>
			  </label>

		</div>

		<button style="display: block; width: 94%; margin: 80px auto 0;" class="button button-full button-positive user_faces_login" ng-click="register()">注册</button>

	</ion-content>

</ion-view>