<ion-view title="注册">

	<ion-content ng-controller="RegCtrl">

		<div class="list">
			<label class="item item-input">
			  <span class="input-label">用户：</span>
			  <input ng-model="username" type="text" maxlength="10" placeholder="输入你的呢称">
			</label>
			<label class="item item-input">
			  <span class="input-label">密码：</span>
			  <input ng-model="password" type="password" maxlength="8" placeholder="输入你的密码">
			</label>
			<label class="item item-input">
			  <span class="input-label">身高(CM)</span>
			  <input ng-model="height" type="tel" placeholder="输入你的身高">
			</label>

			<label class="item item-input item-select">
			    <div class="input-label">
			      性别：
			    </div>
			    <select ng-model="sex">
			      <option>男</option>
			      <option>女</option>
			    </select>
			  </label>

		</div>

		<button style="display: block; width: 94%; margin: 80px auto 0;" class="button button-full button-positive user_faces_login" ng-click="register()">注册</button>

	</ion-content>

</ion-view>